<StackLayout>
  <GridLayout rows="auto" columns="75,*,75" class="action-bar p-10">
      <Button text="Close" (tap)="close()" row="0" col="0" class="action-item"></Button>
      <Label text="Detail" textWrap="true" row="0" col="1" class="action-bar-title text-center"></Label>
      
  </GridLayout>
  
  <ListView [items]="items$ | async" (itemTap)="onItemTap($event)" class="list-group" ios:height="100%" android:height="75%">
      <template let-item="item" let-odd="odd" let-even="even">
        <StackLayout>
          <Label [text]="item.title" class="list-group-item"></Label>
          
        </StackLayout>
      </template>
  </ListView>
</StackLayout>